Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/CodeChunks.db
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/CodeChunks.db-shm
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/CodeChunks.db-wal
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-shm
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-wal
Skynet-Commerce/.vs/Skynet-Commerce/FileContentIndex/f9b9274a-cebb-45b6-a7b9-86d086901838.vsidx
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/CodeChunks.db-shm
/Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/CodeChunks.db-wal
/Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910
/Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-wal
Skynet-Commerce/.vs/Skynet-Commerce/FileContentIndex/42c13791-f32a-471e-8152-7867689371ba.vsidx
Skynet-Commerce/.vs/Skynet-Commerce/FileContentIndex/017e373d-e408-49c5-ab6d-cb7f0d5703ed.vsidx
Skynet-Commerce/.vs/Skynet-Commerce/FileContentIndex/42c13791-f32a-471e-8152-7867689371ba.vsidx
Skynet-Commerce/.vs/Skynet-Commerce/FileContentIndex/4489ed05-1653-467f-b7ff-5e1881267410.vsidx
/Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
Skynet-Commerce/.vs/Skynet-Commerce/v17/.suo
Skynet-Commerce/.vs/Skynet-Commerce/v17/DocumentLayout.backup.json
Skynet-Commerce/.vs/Skynet-Commerce/v17/DocumentLayout.json
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/.signature.p7s
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/Guna.UI2.WinForms.2.0.4.7.nupkg
Skynet-Commerce/Skynet-Commerce/bin/Debug/Skynet-Commerce.exe
Skynet-Commerce/Skynet-Commerce/bin/Debug/Skynet-Commerce.pdb
Skynet-Commerce/Skynet-Commerce/bin/Debug/Skynet-Commerce.pdb
Skynet-Commerce/Skynet-Commerce/bin/Debug/Skynet-Commerce.exe
Skynet-Commerce/Skynet-Commerce/.vs/Skynet-Commerce.csproj.dtbcache.json
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/LICENSE.txt
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/netcoreapp3.1/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/net7.0-windows7.0/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/net6.0-windows7.0/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/net48/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/net472/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/net461/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/net45/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/lib/net40/Guna.UI2.dll
Skynet-Commerce/packages/Guna.UI2.WinForms.2.0.4.7/icon.png
Skynet-Commerce/.vs/Skynet-Commerce/v17/DocumentLayout.json
Skynet-Commerce/.vs/Skynet-Commerce/v17/DocumentLayout.backup.json
Skynet-Commerce/.vs/Skynet-Commerce/v17/.suo
Skynet-Commerce/.vs/Skynet-Commerce/FileContentIndex/e3623641-c83e-41fc-8e01-e165361b6044.vsidx
Skynet-Commerce/.vs/Skynet-Commerce/CopilotIndices/17.14.1431.25910/CodeChunks.db
