################################################################################
# Visual Studio / .NET Projects
################################################################################

# T?p C?u hình Visual Studio c?c b? (User-specific files)
# T?p này ch?a c?u hình c?a riêng b?n (nh? b? c?c c?a s?, bookmark)
.vs/
*.user
*.suo

# T?p Build và Cache (Tuy?t ??i không ???c commit)
[Bb]in/
[Oo]bj/
*.pdb
*.obj
*.exe
*.dll
*.lib
*.exp
*.cache

# T?p cache c?a NuGet và gói th? vi?n ?ã t?i v?
packages/
*.nupkg

# T?p cache c?a Resharper, Rider, v.v.
*.resharper
*.bak
*.vsdix

# T?p cache c?a Tools
*.ide-version
*.log