*{
    margin: 0;
}
.navbar{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.list-menu
{
    width: 80%;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
}
.list-menu .search-box
{
    width: 500px;
    display: flex;
    flex-direction: row;
}

.list-menu .search
{
    width: 90%;
    background-color: white;
}
.list-menu button
{
    width: 10%;
    min-width: 30px;
}

.list-menu .home, .list-menu .account, .list-menu .logo{
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}
