<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- Anh em dùng Windows Authentication cho nhanh đi, khỏi chạy docker nặng thêm -->
    <!-- Anh em dùng Windows Authentication cho nhanh đi, khỏi chạy docker nặng thêm -->
    <!-- Anh em dùng Windows Authentication cho nhanh đi, khỏi chạy docker nặng thêm -->
    <add name="ApplicationDbContext" connectionString="data source=DESKTOP-D40AP7A\SQLEXPRESS;initial catalog=Skynet_commerce;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!-- Như này chắc chạy được của ae luôn -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>